extends ../layouts/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina  

        div.mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(action="")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Tu Email
                        input#email.w-full.px-2.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu email"
                        type="email"
                        name="email"
                        )

                    div.flex.justify-between.items-center
                        a(href="/auth/login").text-gray-500.text-xs Ya tienes Cuenta? Inicia sesion
                        a(href="/auth/registro").text-gray-500.text-xs Registrate

                    input(class="w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-3 cursor-pointer" type="submit" value="Enviar Instrucciones")