header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-bold Raices

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/auth/login") Iniciar sesion
            a(href="/auth/registro") Crear cuenta

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas
        a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Apartamentos
        a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Bodegas
        a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Terrenos
        a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Cabañas
        